:root {
	/* ###### Colors ###### */
	--color-bg: #0a0a0a;
	--color-text: #ffffff;
	--color-nav-bg: #111111;
	--color-accent: #ff0055;
	--color-border: var(--color-accent);

	/* ###### Typography ###### */

	--font-family-base: "Orbitron", sans-serif;
	--font-size-base: 62.5%;
	--font-size-nav: 1.6rem;
}

/* ##### RESET ###### */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: var(--font-family-base);
}

html {
	font-size: var(--font-size-base);
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* ##### NAVBAR ###### */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-nav-bg);
	color: var(--color-text);
	padding: 1.6rem 3.2rem;
	border-bottom: 0.2rem solid #ff0055;
	font-size: var(--font-size-nav);
	font-weight: 600;
	letter-spacing: 0.1rem;
}

nav .logo {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	color: var(--color-accent);
}

nav i {
	font-size: 2rem;
}

nav ul {
	display: flex;
	gap: 2rem;
}

nav ul li a {
	color: var(--color-text);
	transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
	color: var(--color-accent);
}

.toggle {
	cursor: pointer;
}

/* ##### HERO SECTION ###### */

#hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 5.5rem);
	background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg") no-repeat
		center center/cover;
	text-align: center;
	color: var(--color-text);
	font-size: var(--font-size-nav);
	overflow: hidden;

	animation: zoomBackground 15s ease-in-out infinite alternate;
}

@keyframes zoomBackground {
	from {
		background-size: 100% 100%;
	}
	to {
		background-size: 110% 110%;
	}
}

#hero::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.hero-content {
	position: relative;
	z-index: 2;
	opacity: 0; /*Hide the content  */
	transform: translateY(5rem);
	animation: fadeSlideUp 1.2s ease-out forwards;
	animation-delay: 0.3s;
}

@keyframes fadeSlideUp {
	to {
		opacity: 1; /*Shows the content*/
		transform: translateY(0);
	}
}

.hero-content .button {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: var(--color-accent);
	margin-top: 2rem;
	border-radius: 0.5rem;
	font-weight: 600;
	text-transform: capitalize;
	letter-spacing: 0.05rem;
	transition: transform 0.3s ease box-shadow 0.3s ease;
	animation: pulse 2.5s infinite;
}

@keyframes pulse {
	0%,
	100% {
		scale: 1.1;
		box-shadow: 0 0 1rem var(--color-accent);
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 0 20px var(--color-accent);
	}
}

.hero-content .button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 30px var(--color-accent);
}
